@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}
p{
    font-size: 16px;/* 16px */
    line-height: 20px;

}
.main-container{
    width: 1200 px;
    margin: 0 auto;
}

/* Responsive */
@media screen and (max-width: 1200px){
    .main-container{
        width: 98%;
    }
}


/* Logo dan navigasi menu */
.nav{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 1px 2px;
}
.nav ul{
    list-style: none ;
    display: flex;
    gap: 3rem; /* agar ada jarak */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
}
.logo a{
    color: #FF6000;
    text-decoration: none;
    /* margin-left: 20PX; */
}
nav ul li{
    display: flex;
    align-items: center;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #FF6000;
}

.dark-mode{
    width: 15px;
    cursor: pointer;
}
.dark-mode:hover{
    background-color: #FF6000;
}


/* Titles */
.pre-title{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
    margin-left: 30px;
    
}

.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

/* Hero Section */
#hero{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    padding-left: 40px;
    width: fit-content;
    margin-left: 30px;
}
.hero-name span{
    color: #FF6000;
}
.hero-left p{
    padding-left: 40px;
    width: fit-content;
    margin-left: 30px;
}
.hero-right img{
    width: 90%;
    height: 20%;
}
.hero-right{
    display: flex;
    justify-content: center;
}

/* About */
#abouts{
    padding: 3rem 0;
    background-color: #eaeaea
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.about .pre-title{
    margin: 0 auto;
}
.about-title{
    text-align: center;
}
.about-left p{
    padding-left: 50px;
    width: fit-content;
    margin-left: 30px;
}
.about-left p span{
    color: #FF6000;
}

.about-right img{
    width: 90%;
    height: 40%;
}

/* Project */
#projects{
    padding: 6rem 0;
}
.projects .pre-title{
    margin: 0 auto;
}
.project-title{
    text-align: center;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    margin: 0 50px;
}   
.project{
    padding: 3rem 2rem;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 2px ;
}
.project h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}
.project p{
    text-align: justify;
}
.project-icon {
    width: fit-content;
    margin: 2px auto;
    padding: 1rem 1.3rem;
    border-radius: 1rem;
    background: #fafafa;
}
/* Icon */
.project-icon i{
    color: #FF6000;
    font-size: 20px;
}

/* Contact */
#contact{
    padding: 6rem 0;
}
.contact .pre-title{
    margin: 0 auto;
}
.contact-title{
    text-align: center;
}
.contact{
    padding: 3rem 2rem;
}
.grid-4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    margin: 0 50px;
}
.contact-form div{
    margin-bottom: 1.4rem;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    resize: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: #b6b4b4;
}

.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border: 1px solid #7d7d7d;
}
.btn-submit{
    width: 100%;
    height: 40px;
    padding: .75rem, 1.3rem;
    background-color: #FF6000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: bold;
}
.btn-submit:hover{
    background-color: rgb(196, 55, 4);
}
.contact-item{
    display: flex;
    gap: 1.5rem; /*jarak*/
    margin-bottom: 2.5rem;
}
.contact-item-icon{
    background: #eaeaea;
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item-icon i{
    color: #FF6000;
    font-size: 20px;
}
.contact-item-detail h4{
    margin-bottom: 0.6rem;
}

/* Footer */
footer{
    padding: 2rem 0;
    background-color: #FF6000;
    text-align: center;
    color: #fff;
}
.footer-icon{
    margin-bottom: 1rem;
}
.footer-icon a:hover{
    background-color:  rgb(196, 55, 4);
}
.footer-icon a{
    margin: 0.5rem;
    color: #fff;
}
/* .project-icon i .fa-solid{
    fill: purple;
} */

/* Kosong */


/* Responsive Layout */
@media screen and (max-width: 1000px){
    p{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    .grid-2{
        gap: 1rem;
    }
    .grid-3{
        gap: 1rem;
    }
    .grid-4{
        gap: 1rem;
    }
}
/* @media screen and (max-width: 825px){
}
@media screen and (max-width: 640px){
} */
